.wc-block-components-totals-item {
	display: flex;
	flex-wrap: wrap;
	padding: em($gap-small) 0;
	width: 100%;
}

.wc-block-components-totals-item__label {
	flex-grow: 1;
	font-weight: bold;
}

.wc-block-components-totals-item__value {
	white-space: nowrap;
}

.wc-block-components-totals-item__description {
	@include font-size(small);
	width: 100%;
}
