/*

font-family: 'ocarina_light';
font-family: 'ocarina_medium';

*/

.woocommerce-account ul li a,
b, 
strong {
    font-weight: 900;
    color: #000;
    font-family: 'ocarina_light';
}
 
body {
    font-family: 'ocarina_light';
	color:#363636;
	text-transform: none;
}

.logined ul li a:hover,
.woocommerce-account ul li a:hover{
	color:#888890;
}
.btn-outline,
.btn-inverse,
.btn-variant,
.button, .woocommerce-Button,
.button.single_add_to_cart_button,
.page-content .vc_btn3.vc_btn3-style-custom,
.add_to_cart_button, .button.product_type_simple,
.added_to_cart,
.wishlist_table .add_to_cart.button,
.woocommerce-tabs .nav-tabs li,
input[type="submit"],
#na-menu-primary ul > li > a{
    font-family: 'ocarina_light';	
}

h1, h2, h3, h4, h5, h6{
    font-family: 'ocarina_medium'; 
    font-family: 'panta'; 
}

a:hover {
	color:#005C54;
}
body .product-name a:hover {
    color: #005C54;
}
body .entry-title > a:hover {
    color: #005C54;
}
body #na-footer a:hover {
    color: #005C54 !important;
}


body #na-menu-primary ul.na-menu > li > a:hover, 
body #na-menu-primary ul.na-menu > li > a:focus {
    color:#005C54;
}

/*
new colors
red: #EF3340
green: #005C54
*/

.header-content-right .social-wrap { margin: 0 10px; }
.header-social-zv a { display:inline-block; margin:0 5px; }
.header-social-zv a img { max-height:32px; display: block; }

.zivavlna-posts-grid .vc-gitem-zone-height-mode-auto:before { height:auto; padding-top: 0; } 
.zivavlna-posts-grid h3 { margin: 0; font-size: 22px; line-height: 38px; padding-top: 0px; padding-bottom:30px; }
.zivavlna-posts-grid .article-meta-date { color: #a3a3a3; font-size: 12px; text-transform: uppercase; padding-top: 15px; margin-bottom: 0; }
body .cart-wrap:before { display:none; }
body .cart-wrap { margin-left: 0; }
.product-layout-vertical .slick-dots { display: none !important; }
.cart_list li .name { margin: 0; padding: 0; padding-right: 70px; }
.cart_list li .remove { color: #EF3340; }

.aws-search-result .aws_onsale { background: #EF3340; }
body div.wpcf7-mail-sent-ok { border: 2px solid #005C54; }
body .sidebar ul li a:hover { color: #005C54; }
body span.wpcf7-not-valid-tip { color: #EF3340; }
body div.wpcf7-validation-errors, 
body div.wpcf7-acceptance-missing { color: #EF3340; font-size: 14px; line-height: 1.5em; }

body .user-mini:hover, .btn-intro:hover, body .btn-mini-search:hover, .mini-cart:hover { color: #005C54; }
.mini-cart:hover .icon-cart { color: #005C54; }
.article-meta-date .cats a { font-size: 14px; margin: 0 10px 0 0; text-transform: uppercase; display: inline-block; }
.article-meta-date .cats a:hover { color:#005C54; }

body .nano-intro .title-text,
body .block-title,
body .entry-title,
h1, h2, h3, h4, h5, h6 { 
    color: #363636; 
}

#na-footer .social-footer {
	text-align:center;
}

#na-footer .social-footer .social-icons {
	margin:0 auto;
	display:inline-block;
}

#na-footer .social-footer .social-icons li {
	display:inline-block;
}

#na-footer .widget {
	margin-bottom:0;
}

#na-footer .widget_nav_menu {
	text-align:center;
}

#na-footer .widget_nav_menu ul li {
	display:inline-block;
	padding:0 15px;
}

body .na-cart .icon-cart .mini-cart-items {
	background:transparent;
	color:#EF3340!important;
}

.site-logo img {
	height:80px;
}

.site-header.header-fixed.fixed .site-logo img {
	height:60px;
}

.btn {
	margin:auto;
	text-align:center;
	background:transparent;
	color:#222;
	padding:20px;
	font-weight:400;
	max-width:220px;
	letter-spacing:1px;
	font-size:14px;
	text-transform:uppercase;
	border:0;
	position:relative;
	cursor:pointer;
	outline:none;
	overflow:hidden;
	z-index:1;
	display:block;
	-webkit-transition:color .4s cubic-bezier(0.19,1,0.22,1);
	-o-transition:color .4s cubic-bezier(0.19,1,0.22,1);
	transition:color .4s cubic-bezier(0.19,1,0.22,1);
}

.btn:hover,.btn:focus {
	color:#FFF;
}

.btn:hover:before,.btn:focus:before {
	-webkit-animation-name:button-enter;
	animation-name:button-enter;
}

.btn:before {
	background-color:#222;
	content:'';
	z-index:-1;
	-webkit-transform:translateY(100%);
	-moz-transform:translateY(100%);
	-ms-transform:translateY(100%);
	-o-transform:translateY(100%);
	transform:translateY(100%);
	-webkit-animation:button-leave .4s cubic-bezier(0.19,1,0.22,1) forwards;
	-o-animation:button-leave .4s cubic-bezier(0.19,1,0.22,1) forwards;
	animation:button-leave .4s cubic-bezier(0.19,1,0.22,1) forwards;
}

.btn:after,.btn:before {
	left:0;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
}

.btn:after {
	content:'';
	border:1px solid #222;
}

.btn:after,.btn:before {
	left:0;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
}

.sok-child-categories {
	text-align:center;
}

.sok-child-categories ul {
	margin:0;
	padding:0;
	list-style:none;
}

.sok-child-categories ul li {
	display:inline-block;
	padding:0 20px;
}

.naintroblock .nano-intro .title-text {
    font-size: 44px; line-height: 1.5em;
    
}

.button.single_add_to_cart_button:hover,.button.single_add_to_cart_button:focus,.button.single_add_to_cart_button:active,.button.single_add_to_cart_button.active {
	background-color:#EF3340;
	border:2px solid #EF3340;
}

.cart .quantity .input-group-addon {
	-webkit-transition:.4s;
	-o-transition:.4s;
	transition:.4s;
}

body .product-image img, body .product-image a {
    cursor: url(images/zivavlna-pointer-l.png), pointer;
}

.product-detail-wrap .price del,
.product-detail-wrap .price {
	color:#005C54;
}

.product-detail-wrap .price ins{
	color: #a3a3a3;
}

.product-grid del,
.product-grid del .amount { 
	color:#222222;
}

.product-grid ins,
.product-grid ins .amount { 
	color:#a3a3a3;
}

.product-detail-wrap .show-autors,
.product-detail-wrap .show-book,
.product-detail-wrap .show-shipping {
	display:block;
	padding:20px 0;
	cursor:pointer;
	position:relative;
	border-bottom:1px solid #ddd;
}

.product-detail-wrap .show-book{
	border-bottom: 0;
}

.product-detail-wrap .single-autors-product .show-autors,
.product-detail-wrap .single-book-product .show-book, 
.product-detail-wrap .single-book-product .show-shipping,
.product-detail-wrap .single-shipping-product .show-shipping {
	padding-left:0;
	font-size:20px;
	font-weight:300;
	color:#222;
}

.product-detail-wrap .show-autors:after,
.product-detail-wrap .show-shipping:after {
	position:absolute;
	top:23px;
	line-height:28px;
	right:0;
	content:"\f3d6";
	font-family:"Ionicons";
	font-size:30px;
	color:#222;
}

.product-detail-wrap .show-autors.open:after,
.product-detail-wrap .show-shipping.open:after {
	content:"\f3d4";
}

.product-detail-wrap .single-autors-product .single-autors-product-inner,
.product-detail-wrap .single-shipping-product .single-shipping-product-inner {
	font-size:16px;
	line-height:30px;
	display:none;
	padding:30px 0;
}

.product-grid .wishlist-buttom {
	display:none!important;
}

body .item-post .post-grid .entry-content {
    display: block;
    margin-top: 5px;
    padding-bottom: 15px;
}

.page-header {
	padding:100px 0;
}

.sok-coupon input[type="submit"]:hover,.btn-checkout:hover,input[type="submit"]:hover {
	background-color:#EF3340;
	border-color:#EF3340;
}

.return-to-shop .wc-backward:hover:before {
	background-color:#EF3340;
}

.return-to-shop .wc-backward:hover:after {
	border-color:#EF3340;
}

.woocommerce-checkout .order-total .amount {
	color:#EF3340;
}

.woocommerce-checkout #payment ul.payment_methods li label img {
	display: none;
}

.woocommerce-thankyou-order-received:before {
	color:#005C54;
	top:4px;
}

.woocommerce-thankyou-order-received {
	font-size:23px;
	color:#005C54;
}

span.wpcf7-not-valid-tip {
	font-size:14px;
}

div.wpcf7-response-output {
	margin:0;
	padding:.2em 1em;
}

div.wpcf7-validation-errors,div.wpcf7-acceptance-missing {
	border:2px solid red;
	font-size:15px;
}

div.wpcf7-mail-sent-ok {
	font-size:15px;
}

.wpcf7-form .form-newsletter input.wpcf7-email { border:solid 1px #222222; background:transparent; border-width:1px 1px 1px 1px; } 
.wpcf7-form .form-newsletter input.wpcf7-email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #222222; opacity: 1; /* Firefox */ }

.form-newsletter .wpcf7-form input.wpcf7-email:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #222222; }

.form-newsletter .wpcf7-form input.wpcf7-email::-ms-input-placeholder { /* Microsoft Edge */
  color: #222222; }
html .wpcf7 form .wpcf7-response-output { margin: 0.25em 0.5em 1em; }


html .wpcf7 form.sent .wpcf7-response-output {
    border-color: #005C54;
}

.wpcf7-form .form-contact span.wpcf7-list-item {
	display:inline-block;
	margin:0;
	width:100%;
}

.wpcf7-form .form-contact span.wpcf7-list-item label {
	width:100%;
	display:inline-block;
	font-weight:300;
}

.wpcf7-form .form-contact span.wpcf7-list-item label input[type="checkbox"] {
	display:inline-block;
	float:left;
	top:5px;
	margin-right:10px;
	position:relative;
}

.wpcf7-form .form-contact span.wpcf7-list-item label span.wpcf7-list-item-label {
	float:left;
}

span.wpcf7-form-control.wpcf7-acceptance {
	margin-top:10px;
}

.na-service .items-service {
	padding-left:0;
	padding-right:0;
	display:block;
}

.na-service .entry-content-inner {
	max-width:400px;
	font-size:16px;
}

.nano-infoTeams .box-content {
	padding-left:0;
	position:relative;
	left:0;
	bottom:0;
	min-width:auto;
}

.nano-infoTeams .des-box {
	font-size:12px;
	text-transform:none;
	letter-spacing:inherit;
	line-height:2;
}

.logined .author-img {
	display:none;
}

.logined .name-account {
	padding-left:0;
}

.name-account {
	padding:0 0 10px;
}

.for-business .checkbox input[type="checkbox"] {
	position:relative;
	margin-left:0;
	margin-top:0;
	top:-4px;
}

.woocommerce-checkout .checkbox {
	padding-left:0;
}

.woocommerce-checkout .woocommerce-billing-fields p.for-business {
	width:100%;
	display:inline-block;
}

.woocommerce-checkout .woocommerce-shipping-fields p,.woocommerce-checkout .woocommerce-billing-fields p {
	padding-bottom:10px;
	margin-bottom:10px;
}

.cookie-bar-bar button#catapultCookie {
	border:1px solid #fff;
	color:#fff;
}


.cookie-bar-bar button#catapultCookie:after{
	border: 0;
}

 
.cookie-bar-bar button#catapultCookie:hover {
	border:1px solid #EF3340;
	color:#fff;
}
 
.woocommerce-checkout .select2-container {
	height:50px;
}

.select2-container .select2-selection--single {
	height:50px;
	margin:0;
}

.woocommerce-terms-and-conditions-wrapper p {
	margin:0;
}

.woocommerce-checkout .wc-terms-and-conditions .checkbox,.woocommerce-checkout .woocommerce-terms-and-conditions-wrapper .checkbox {
	font-size:15px;
	font-weight:300;
}

.woocommerce-checkout .wc-terms-and-conditions .checkbox a,.woocommerce-checkout .woocommerce-terms-and-conditions-wrapper .checkbox a {
	font-weight:500;
}

.product-image img,
.product-image a { 
	cursor: url(images/egres-cursor.png), pointer;  
}

.button.single_add_to_cart_button {
	background-color:#363636;
	border:2px solid #363636;
}

.cart .quantity .input-group {
	border:1px solid #363636;
	padding:0;
}

.cart .quantity .input-group-addon.qty-minus,.cart .quantity .input-group-addon.qty-plus {
	background-color:#363636;
	color:#fff;
}

.cart .quantity .input-group-addon.qty-minus:hover,.cart .quantity .input-group-addon.qty-plus:hover,.cart .quantity .input-group-addon:hover {
	background:#EF3340;
	color:#fff;
	-webkit-transition:.4s;
	-o-transition:.4s;
	transition:.4s;
}

.cart-bottom .btn {
	font-size:12px;
    padding: 20px 10px;
}

.btn:before {
	background-color:#363636;
}

body .btn-checkout,body input[type="submit"] {
	background-color:#363636;
	border-color:#363636;
}

.woocommerce-shipping-methods {
	padding-left:20px;
	margin-top:35px;
	margin-bottom:0;
}

tr.woocommerce-shipping-totals.shipping p {
	margin-top:10px;
}

.woocommerce-checkout #payment ul.payment_methods li p,tr.woocommerce-shipping-totals.shipping ul.woocommerce-shipping-methods li p {
	font-weight:100;
    font-family: 'ocarina_light';
	margin-top:0;
	font-size:13px;
	line-height:1.3;
}

.woocommerce-checkout #payment ul.payment_methods li label,tr.woocommerce-shipping-totals.shipping ul.woocommerce-shipping-methods li label {
	margin-bottom:0;
	   font-family: 'ocarina_medium'; 
}

tr.woocommerce-shipping-totals.shipping ul.woocommerce-shipping-methods li p {
	display:none;
}

tr.woocommerce-shipping-totals.shipping ul.woocommerce-shipping-methods li input:checked ~ p,tr.woocommerce-shipping-totals.shipping ul.woocommerce-shipping-methods li input:checked ~ label {
	display:block;
}

.woocommerce-thankyou-order-received img {
	height:100px;
	margin-top:20px;
}

.button.single_add_to_cart_button {
    float: right;
}

#na-footer .footer-top .widgettitle { 
    margin-bottom: 60px;
    margin-top: 50px;
}

#na-footer .col { text-align:left; }
#na-footer .col h2 { text-align:left;  display: block; }
#na-footer .col .widget_nav_menu ul li { display: block; padding: 0 0; text-align: left; }
#na-footer .row { position:relative; }
#na-footer .copyright-footer { position: relative; bottom: 0; float: none; right: 0; clear: both; width: 100%; text-align: center; }
#na-footer .copyright-footer .footer-bottom-center {  text-align: center !important; }
.footer-social-zv a { transition:all ease 250ms;  }
.footer-social-zv a:hover { opacity:0.5; }
#na-footer .row.flx { display:flex; flex:1; flex-direction:row; flex-wrap:wrap; justify-content:center; }
.footer-social-zv a { display: block; margin: 0 7px 10px 0; max-width: 1000px; }
.form-newsletter { margin-top:15px; }
.form-newsletter .flx { display: flex; flex: 1; flex-direction: row; justify-content: center; }
.wpcf7-form .form-newsletter input.wpcf7-submit { margin-top: 0; }


.social-footer [class*="ion-social-"] {
    width: auto;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px; 
    float: left; 
    font-size: 25px;
}

.woocommerce-checkout #payment ul.payment_methods li label,
.shipping ul li label {
    text-transform: none; 
}

.nano-infoTeams .box-team-list{
	width: 25%; 
}

.na-service .service-box-inner .entry-image img {
    width: 240px;
    margin-bottom: 20px;
}

.about-heading { 
    font-size: 22px;
    line-height: 38px;
    font-weight: 500;
}

.local-pickup-text,
.thankyou-order-payment-details {
    max-width: 850px;
    margin: auto;
    line-height: 1.3;
}

.thankyou-order img { 
	margin-bottom: 20px
}

.product-detail-wrap .single-title-product .onsale {
    border: none;
    top: 0;
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
    color: #a3a3a3;
}

.btn:hover:after {    
	border-color: transparent;
}

.btn:before {
    background-color: transparent;
}

.btn-inverse, .btn{ 
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn:hover, .btn:focus, .btn:active{ 
    background-color: #EF3340;
    border-color: #EF3340;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

table th {
    font-family: 'ocarina_medium';
}

.shop_table .order-total,
.cart-collaterals,
.sok-coupon .coupon {
	background: #ffffff;
}

.woocommerce-checkout label span.optional,
.woocommerce form .form-row .required { 
    display: none;
}

.woocommerce-checkout .woocommerce-checkout-review-order {
    background: #fff;
}
    
.thankyou-order-payment-details .woocommerce-order-details { 
    background: #fff; 
    border-radius: 0;
}

table > thead > tr:last-child, table > tbody > tr:last-child, table > tfoot > tr:last-child{
	border-bottom: 0;
}

.thankyou-order-payment-details .woocommerce-order-details tfoot > tr:last-child .amount{
	color: #EF3340;
}

.pt-0{
	padding-top: 0;
}

#na-footer .footer-top .widget_instagram .widgettitle { 
    text-align: center;
    padding-left: 20px;
    padding-right: 20px; 
}

.product-detail-wrap form.cart .form-inline{
	float: left;
}

.product-detail-wrap .product-data-tabs { 
    display: inline-block;
    width: 100%;
}

.site-logo {
    display: inline-block;
    line-height: normal;
    margin-top: 20px;
}

.site-header.header-fixed.fixed .site-logo{  
    margin-top: 0px;
}
 
.user-mini:hover, .btn-intro:hover, .btn-mini-search:hover, .mini-cart:hover .icon-cart{
    color: #005C54;
}

.site-header.header-fixed.fixed .logo-mobile,
.site-logo .logo-desktop{
	display: block; 
}

.site-header.header-fixed.fixed .logo-desktop,
.site-logo .logo-mobile{
	display: none;
}

.site-logo .logo-mobile{
	font-size: 35px;
    font-weight: 600;
}

.product-grid .ground-addcart a { 
	text-transform: none;
}

#na-footer a:hover{
	color: #005C54;
}

.slick-prev, .slick-next, .slick-prev:hover, .slick-next:hover{
	opacity: 1;
	margin-top:0;
	background: transparent;
    box-shadow: none;
}

.slick-prev, .slick-next{ 
	height: 60px;
	line-height: 60px;
	width: 40px; 
	transform: translate(0, -50%);
} 

.article-carousel .slick-next:before,
.slick-next:before{
	color: #EF3340;
	content: "\f3d6";
	font-family: "Ionicons";  
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
}

.article-carousel .slick-prev:before,
.slick-prev:before{
	color: #EF3340; 
	content: "\f3d6";
	font-family: "Ionicons";   
    font-size: 60px;
    font-weight: bold; 
    line-height: 60px;
    transform: rotate(180deg);
    display: block; 
}

.article-carousel .slick-next,
.article-carousel .slick-prev{ 
    margin-top: -60px; 
}

.article-carousel .slick-prev {
    left: 35px;
}

.article-carousel .slick-next {
    right: 35px;
}

.slick-prev:hover:before,
.slick-next:hover:before{
	color: #000;
}

.page-header { 
    display: none;
}

.login-wrap .login .form-row:nth-child(3n+0) {
    margin: 0;
    float: left;
}

.myaccount-login .btn { 
	display: inline-block;
}

.footer-bottom-center a { 
    border-bottom: 1px solid #000;
}

#na-menu-primary ul > li > ul > li a { 
    text-transform: none;
}
 
.w100{ 
	width: 100%;
}

.woocommerce-checkout .checkout-review th.zasikovna-ico {
    background: transparent;
    vertical-align: middle;
    text-align: center;
}

a.button.packeta-selector-open{
	width: 100%;
    display: block;
    text-align: center;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.product-detail-wrap .onsale { 
    text-transform: none;
}

a.button.packeta-selector-open:hover{  
    background-color: #EF3340;
    border-color: #EF3340;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

p.stock.in-stock {
    display: none !important;
}

.pagination .current, 
.pagination span.current,
.pagination .current:hover, 
.pagination span.current:hover,
.pagination .page-numbers:hover {
    border: 2px solid transparent;
    color: #005C54;
}
 
.woocommerce-nav .woocommerce_checkout_login, .woocommerce-nav .woocommerce_checkout_coupon {
    background: transparent;
    border: 1px solid #e7e7e7;
    padding: 30px 60px;
}

.woocommerce-checkout .checkout-review th.zasikovna-ico img{
	display: none;
    height: 40px;
    margin: 0 auto;
}

#customer_details .col-1,
#customer_details .col-2 {
    display: inline-block;
    width: 100%;
}
 
#loadShop:before {
    background-color: #EF3340;
}
#loadShop:focus:after,
#loadShop:hover:after { 
    border: 1px solid #EF3340;
}    

.widget_product_categories .product-categories .current-cat > a,
.widget_product_categories .product-categories a:hover {
    text-decoration: none;
    color: #005C54;
}
body.page .entry-content {
    max-width: 800px;
    margin: 0px auto 0;
}

.single-post .entry-content {
    max-width: 800px;
    margin: 0px auto 0;
}
 
.single-post .entry-content img{
    max-width: 120%; 
    margin-left: -10%;
    margin-right: -10%;
}
  
body button#catapultCookie { 
    border-radius: 0;
}
 
.single-post .post-related .widgettitle span { 
    background: transparent;
}

.single-post .post-related .widgettitle span:before { 
	display: none;
}

.infload-controls .infload-to-top{
	display: none !important;
}

.widget-related .widgettitle { 
    text-align: center;
}
 
tr.woocommerce-shipping-totals.shipping p.shipping-notice {
    margin-top: 0px;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 0;
}

#loadShop i{
	display: none !important;
}

#loadShop { 
    padding: 20px;
}

.single-product .woocommerce-notices-wrapper{
	display: none;
}
 
.shipping ul label:before,
.woocommerce-checkout #payment ul.payment_methods label:before { 
	top: 6px;
}  
    
.woocommerce-checkout .shipping .shipping_method[type=hidden] + label::before {
    border-color: #282828;
    border-width: 2px;
}

body .account-orders-table .button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

body .account-orders-table .button:hover{
    background-color: #EF3340;
    border-color: #EF3340;	
}



body .product-gallery-slider .slick-prev, 
body .product-gallery-slider .slick-next {
    bottom: auto;
    top: 50%;  margin-top:-10px; 
}
       
body .product-gallery-slider .slick-next {
    left: auto;
    right: 30px;
}

body .product-gallery-slider .slick-prev {
    right: auto;
    left: 30px;
}

body .wpb_single_image:hover {
    cursor: default;
}

body .wpb_single_image a:hover{
	cursor: pointer;
}

@media (max-width: 1440px){
	.cart-box {
	    width: 500px;
	    -webkit-transform: translateX(500px);
	    -moz-transform: translateX(500px);
	    -ms-transform: translateX(500px);
	    -o-transform: translateX(500px);
	    transform: translateX(500px);
	} 
}

@media (max-width: 767px){
    .naintroblock .nano-intro .title-text { font-size: 32px; line-height: 1.25em; }
	.vc_column_container {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.nano-intro .content-box { 
	    margin-bottom: 80px !important;
	} 
	.homepage-slider .vc_column_container {
	    padding-left: 0;
	    padding-right: 0;
	}
    
    #na-footer .copyright-footer { position: relative; }
    .nano-intro .content-box { padding-left: 0; padding-right: 0; margin: 0 !important; }
    
}

@media (max-width: 640px){
	.canvas-warp #loginTab > li > a {
    	font-size: 25px;
    }
	.nano-infoTeams .block-content .box-team-list .box-content { 
    	position: relative;
    }
	.woocommerce-checkout .form-row-first, .woocommerce-checkout .form-row-last {
	    width: 100%;
	    float: none;
	}
	.woocommerce-checkout .btn-order {
	    font-size: 16px;
	    letter-spacing: 0;
	    font-size: 14px;
	    padding: 15px 10px;
	}
	.return-to-shop {
	    width: 100%;
	    margin-bottom: 0;
	    float: none;
	}
	.btn-updatecart,
	.wc-btn-updatecart {
	    display: inline-block;
	    width: 100%;
	    float: none;
	} 
	body .nano-intro .title-text {
	    margin-top: 0;
	    font-size: 30px;
	    line-height: 50px;
	    color: #222222;
	}
}
@media (max-width: 480px){
 
 
    
    .cart-box {
	    width: 100%;
	}
	.cart-bottom .btn  { 
		width: 100%;
	    max-width: 100%;
	    float: none;
	    display: block; 
	}
}

.info-popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	z-index: 9999;
	justify-content: center;
	flex-direction: column;
	display: none;
}

.info-popup-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
}

.info-popup-box {
	background: #fff;
	max-width: 500px;
	margin: auto;
	padding: 25px;
	position: relative;
}

.info-popup-box h2 {
	margin-top: 0;
}

.info-popup-box .close-popup {
	position: absolute;
	right: 25px;
	top: 25px;
	display: block;
	line-height: initial;
	cursor: pointer;
}

.wpcf7-form .form-contact span.wpcf7-list-item label span.wpcf7-list-item-label {
    float: none;
    padding: 0 0 0 22px;
}

.cart-bottom { bottom: 0; position: relative; width: 100%; background: #FFF; padding: 30px 0px 0px; left: 0; }
 .cart-box .btn-close:hover { color:#005C54; }
 .cart-box { overflow-y:auto;     overflow-x: hidden; }
 .cart-box { overflow-y:auto;     overflow-x: hidden; max-height:100vh; }
 .cart_list { margin:0; padding: 55px 15px 145px; list-style: none; overflow-y: auto; max-height: 400px; }
 .cart_list { margin: 0; padding: 10px 15px 0px 0; list-style: none; overflow-y: auto; max-height: initial; }   
 .cart_list .product_list_widget { padding-inline-start: 0; }  

@media (max-width: 1440px) {
    .nano-intro .content-box { height: auto; }
    .cart-box { overflow-y:auto; }
    .cart-bottom { padding-left: 0; padding-right: 0; padding-bottom: 60px; }
}

@media only screen and (max-width: 1440px) { 
    .nano-intro .content-box { height: auto; }
    .cart-box { overflow-y:auto; }
    .cart-bottom { padding-left: 0; padding-right: 0; padding-bottom: 60px; }
}

@media (max-width: 1199px) {
    .nano-intro .content { max-width: 10000px; width: 100%; }
    .na-footer .menu-item > a { border-top: 0px dotted transparent; }
    .na-footer .wpcf7-form { padding-right: 0; padding-left: 0; }
    
}

@media (max-width: 768px){ 
    .header-content-right .social-wrap { display: none; }
    .na-cart .icon-cart .icon-basket { margin-right: 18px; }
    .na-cart .icon-cart .mini-cart-items { right: 5px;   }
    .site-logo { margin-top: 0px;  }
    .cart_list li .name { padding-right: 70px !important; }    
}

@media (max-width: 480px){ 
    .site-logo { margin-top: 0px; left: 0px; position: relative; }    
    #na-footer .row.flx { display: block; }    
   .image-box.bg-cover { background-size:contain; background-repeat:no-repeat; }
} 

@media (max-width: 420px){ 
    main-content > .products-block .product-col:nth-child(1n+1), .products-block .col-item:nth-child(1n+1) { padding-right: 7.5px; clear: left; width: 100% !important; }    
}

#trustpay_gateway_form{
	position: relative;
	padding-left: 20px;
}

#trustpay_gateway_form p {
    margin:  0 0 10px 0;
}

