.wc-atomic-blocks-product__selection {
	width: 100%;
}
.wc-atomic-blocks-product__edit-card {
	padding: 16px;
	border-top: 1px solid #e2e4e7;

	.wc-atomic-blocks-product__edit-card-title {
		margin: 0 0 $gap;
	}
}
