@font-face {
    font-family: 'ocarina_softlight';
    src: url('ocarinasoft-light.woff2') format('woff2'),
         url('ocarinasoft-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ocarina_softlight_italic';
    src: url('ocarinasoft-lightitalic.woff2') format('woff2'),
         url('ocarinasoft-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ocarina_softmedium';
    src: url('ocarinasoft-medium.woff2') format('woff2'),
         url('ocarinasoft-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ocarina_softmedium_italic';
    src: url('ocarinasoft-mediumitalic.woff2') format('woff2'),
         url('ocarinasoft-mediumitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panta';
    src: url('Panta-Medium.woff2') format('woff2'),
         url('Panta-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ocarina_light';
    src: url('Ocarina-Light.woff2') format('woff2'),
         url('Ocarina-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ocarina_medium';
    src: url('Ocarina-Medium.woff2') format('woff2'),
         url('Ocarina-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
