//style widget Services BoX

.widget-services-box{
    .widget-services-content{
        padding: 30px 0;
        color: #FFF;
    }
    .services-content{
        padding: 120px 80px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .title{
        letter-spacing: 1px;
        font-weight: 300px;
        margin-bottom: 15px;
        a{
            color: #FFF;
        }
    }
    .des-services{
        height: 50px;
        overflow: hidden;
        letter-spacing: 1px;
        font-style: italic;
        margin-bottom: 15px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .btn-services{
        @include button-variables-outline(#FFFFFF, transparent, #FFFFFF, #000000, #FFFFFF, #FFFFFF );
        border-width: 1px;
        display: inline-block;
        padding: 15px 30px;
        text-transform: uppercase;
    }
    //style 2
    &.style-2{
        .title{
            margin-top:5px;
            margin-bottom:5px;
        }
        .title-service{
            font-size: 12px;
            letter-spacing: 0;
            margin: 0;
            text-transform:uppercase;
        }
        .widget-services-content{
            padding:0;
            margin: 10px 0;
        }

        .services-content{
            padding: 7px;
        }
        .des-services{
            font-size: 12px;
            font-style: normal;
            height: auto;
            margin-bottom: 0;
            >*{
                margin: 0;
            }
        }
        .overlay_border{
            display: none;
        }
    }
}