//style widget Services

.widget-services-icon{
    padding-top:0;
    .icon{
        position: relative;

        color: $color-title;
        .fa{
            font-size: 60px;
        }
        .icon-image{
            position: absolute;
            margin: auto;
            top:0;
            right:0;
            left:0;
            bottom: 0;
            width: auto;
            height: auto;
            @include size(30px,30px);
        }
    }
    .widget-services-content{
        display: inline-block;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background: #FFF;
        &:hover{
            box-shadow: 0 10px 20px 0 rgba(168, 182, 191, 0.6);
        }
    }
    .services-content{
        padding: 0 15px;
        overflow: hidden;
        display: inline-block;
        margin-top:7px;
    }

    .title-service{
        color: $color-title;
        font-size: 16px;
        font-weight: 500;
        margin: 10px 0 0 ;
        text-transform: uppercase;
        @include rtl-text-align-left();
        -webkit-font-smoothing: antialiased;
    }
    .widgetcontent{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .des-services{
        color: $font-color;
        padding-top: 5px;
        font-size: 14px;
        p{
            margin: 0;
        }
    }

    &.center{
        text-align: center;
        .title-service{
            text-align: center;
        }
        .services-content{
            text-align: center;
        }
        .des-services {
            text-align: center;
        }
    }
    &.left{
        text-align: center;
        .icon{
            @include rtl-float-left();
            display: inline-block;
        }
        .services-content{
            @include rtl-float-left();
        }
        .des-services {
            @include rtl-text-align-left();
        }


    }
    &.right{
        text-align: center;
        .icon{
            @include rtl-float-right();
            display: inline-block;
        }
        .services-content{
            @include rtl-float-right();
        }
        .des-services {
            @include rtl-text-align-left();
        }
    }
    .widget-content{
        padding: 15px 0;
        display: inline-block;
    }

}


.banner_item{
    padding: 15px;
    text-align: center;
    img{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    }
    &:hover{
        img{
            -webkit-filter:none;
            filter:none;
        }
    }
}