/* line 3, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.wp-block {
  max-width: 900px;
}

/* line 7, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.wp-block[data-align="wide"] {
  max-width: 1200px;
}

/* line 11, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.wp-block[data-align="full"] {
  max-width: none;
}

/*Ganesa Editor Styles*/
/* line 16, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.edit-post-layout__content {
  flex-direction: inherit !important;
}

/* line 19, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
body {
  margin: 50px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 300;
  color: #222;
  background: #fff;
  font-family: "now", Arial, serif;
  height: 100%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* line 33, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.editor-post-title__block .editor-post-title__input {
  font-size: 42px;
  font-weight: 500;
  color: #1a1a26;
  font-family: "Roboto", Arial, serif;
  text-align: center;
}

/* line 44, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

/* line 50, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 400;
  color: #1a1a26;
}

/* line 57, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
h1, .h1 {
  font-size: 41px;
}

/* line 60, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
h2, .h2 {
  font-size: 34px;
}

/* line 63, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
h3, .h3 {
  font-size: 28px;
}

/* line 66, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
h4, .h4 {
  font-size: 20px;
}

/* line 69, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
h5, .h5 {
  font-size: 16px;
}

/* line 74, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #1a1a26;
}

/* line 78, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
th {
  font-weight: 500;
  color: #1a1a26;
}

/* line 82, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
dd {
  margin-bottom: 30px;
}

/* line 85, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
dt {
  padding-bottom: 10px;
}

/* line 88, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
address {
  margin-bottom: 30px;
}

/* line 91, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
select {
  height: 50px;
  padding: 5px 10px;
  border: 1px solid #f3f3f3;
  font-size: 16px;
}

/* line 97, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.wp-block code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 0px;
}

/* line 105, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
label {
  color: #1a1a26;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
}

/* line 113, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
b, strong {
  font-weight: 500;
  color: #1a1a26;
}

/* line 117, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.radio, .checkbox {
  display: inline-block;
}

/* line 120, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
blockquote, .wp-block-quote:not(.is-large):not(.is-style-large) {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  position: relative;
  margin-bottom: 35px;
  color: #1a1a26;
  margin-top: 35px;
  border-left: 0;
  padding: 10px 30px 0px 30px;
  border-left: 5px solid #ea7a64;
}

/* line 131, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
blockquote p, .wp-block-quote:not(.is-large):not(.is-style-large) p {
  margin-bottom: 10px;
}

/* line 136, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
p {
  font-size: 16px;
  line-height: 28px;
}

/* line 140, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
p {
  margin: 0 0 30px;
}

/* line 143, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 147, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.img.size-full {
  height: auto;
  max-width: 100%;
}

/* line 151, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.alignright {
  float: right;
}

/* line 154, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.alignleft {
  float: left;
}

/* line 157, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.aligncenter {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 163, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0px;
  height: 50px;
  font-size: 16px;
  padding: 7px 15px;
  background: white;
  border: 1px solid #e1e1e1;
}

/* line 173, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
input:focus {
  border: 1px solid #888890;
}

/* line 177, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
textarea, button, select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0px;
  font-size: 16px;
  padding: 7px 15px;
  background: white;
  border: 1px solid #ebebeb;
}

/* line 185, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
textarea:focus, button:focus, select:focus {
  border: 1px solid #888890;
}

/* line 189, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.form-control {
  -webkit-appearance: none;
  appearance: none;
}

/* line 193, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
input[type="submit"] {
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  color: #1a1a26;
  cursor: pointer;
  font-size: 20px;
  height: auto;
  line-height: 30px;
  vertical-align: top;
  font-weight: bold;
  letter-spacing: 1px;
}

/*video responsive*/
/* line 207, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.video-responsive {
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

/* line 213, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.video-responsive embed,
.video-responsive iframe,
.video-responsive iframe,
.video-responsive video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
}

/* line 226, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.entry-content img,
.entry-content iframe,
.entry-content object,
.entry-content embed {
  max-width: 100%;
}

/* line 233, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.audio-responsive iframe {
  width: 100%;
  height: 126px;
}

/* line 238, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

/* line 241, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.alert {
  margin: 20px 0;
  padding: 20px;
}

/* line 246, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.tags-list a, .tagcloud a {
  background: #FAFAFA;
  border: 1px solid #ddd;
  color: #3a3a3a;
  display: inline-block;
  margin-bottom: 5px;
  left: 3px;
  padding: 7px 10px;
  font-size: 14px;
}

/* line 255, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.tags-list a:hover, .tagcloud a:hover {
  color: #1a1a26;
}

/* line 259, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
dt {
  font-weight: 500;
  color: #1a1a26;
}

/* line 263, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.required {
  border: 0 none;
  color: #ff0000;
  font-weight: 700;
}

/* line 270, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.tagcloud a {
  font-size: 14px !important;
  color: #3a3a3a;
}

/* line 274, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 5px solid #ea7a64;
  padding: 0 30px 0 50px;
}

/* line 278, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
pre {
  border: none;
  border-radius: 0;
}

/* line 284, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table {
  background: #FFF;
  color: #212121;
  border: 1px solid #e5e5e5;
}

/* line 288, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table thead {
  background: #FAFAFA;
}

/* line 290, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table thead > tr > th {
  border-bottom: 1px solid #e5e5e5;
}

/* line 294, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table th {
  font-weight: 400;
}

/* line 297, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table tbody {
  font-size: 16px;
}

/* line 301, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table {
  background: #FFF;
  color: #212121;
  border: 1px solid #e5e5e5;
}

/* line 306, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 22px;
}

/* line 311, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table thead {
  background: #FAFAFA;
}

/* line 314, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td {
  padding: 30px;
}

/* line 317, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
table thead > tr > th {
  border-bottom: 1px solid #e5e5e5;
}

/* line 321, E:/xampp/htdocs/wp/sok/wp-content/themes/sok/assets/sass/editor-style.scss */
#today a {
  color: #FFF;
}

/*# sourceMappingURL=../css/editor-style.map */