/*
Theme Name: Sok
Theme URI: http://sok.nanoagency.co
Author:  Nano Agency
Author URI: http://www.nanoagency.co/
Description: Sok is Modern Fashion Shop WooCommerce Theme built with WPBakery Page Builder. With design minimal and focus on products, Sok will make your online store look more impressive and attractive to viewers. Help increase high conversation rate to buy a product with your customers so quickly.
Version: 1.0.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: sok

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
# Elements
# Navigation
	## Links
	## Menus
	## Next & Previous
# Layout
# Widgets
# Content
	## Archives
	## Posts and pages
	## Comments
# WooCommerce
	## Category
	## Product
# Responsive
*/

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: right;
}

figure.wp-caption.alignleft,
img.alignleft {
    margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 5px 0;
}

figure.wp-caption.alignright,
img.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

img.aligncenter {
    margin: 20px auto;
}

img.alignnone {
    margin: 20px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
    color: #757575;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    margin: 0 0 24px;
}

div.wp-caption.alignright img[class*="wp-image-"] {
    float: right;
}

div.wp-caption.alignright .wp-caption-text {
    padding-left: 10px;
}

img.wp-smiley,
.rsswidget img {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
    list-style-position: inside;
}
.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: -webkit-calc(7.6923% + 24px);
    padding-top: calc(7.6923% + 24px);
}
.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: -webkit-calc(7.6923% + 24px);
    padding-top: calc(7.6923% + 24px);
}
.sticky-post {
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #f07f84;
}
.sticky-post i{
    font-size: 20px;
}
.sticky .posted-on {
    display: none;
}
.updated:not(.published) {
    display: none;
}
.hentry.sticky:not(.has-post-thumbnail) {
    padding-top: inherit;
}
.entry-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption{
    max-width: 100%;
    height: auto;
}
.gallery {
    margin-bottom: 1.6em;
}
.gallery-item {
    display: inline-block;
    padding: 1.79104%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-icon img {
    margin: 0 auto;
}
.gallery-caption {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
    display: none;
}
.bypostauthor .text-user{
    color:#ED145B;
}
.rtl .archive-blog .article-meta .posted-on{
    padding-left: 15px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
body .alignfull {
    width: 100vw;
    max-width: none;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

body .alignwide {
    margin: 0px -135px 30px;
    max-width: none;
}

.alignfull > img,
.alignwide > img {
    max-width: none;
    width: 100%;
}

.wp-block-separator.is-style-dots:before {
    content: '\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c\e83c';
    font-family: "fontello";
    color: #928a97;
    font-size: 12px;
    letter-spacing: 7.35px;
    padding-left: 2px;
    font-weight: 300;
}
.wp-block-image{
    padding-top: 20px;
    padding-bottom: 20px;
}
.wp-block-separator.is-style-dots {
    text-align: left;
    max-width: 50%;
    height: 14px;
    line-height: 10px;
    overflow: hidden;
}

/* Colums */
.wp-block-columns {
    margin-right: -30px;
}

.wp-block-column {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
}

/* Style bg */
.style-bg {
    position: relative;
    display: block;
    padding: 5.9em 0;
}

.style-bg:before {
    content: '';
    position: absolute;
    left: -10000px;
    right: -10000px;
    top: 0;
    bottom: 0;
    background: #ddd;
    display: block;
    z-index: 1;
}

.style-bg > * {
    position: relative;
    z-index: 2;
}

.style-bg-left {
    position: relative;
    display: block;
    padding: 5.9em 0 5.2em 0;
}

.style-bg-left:before {
    content: '';
    position: absolute;
    left: -10000px;
    right: -100px;
    top: 0;
    bottom: 0;
    background: #ddd;
    display: block;
}

.style-bg-top {
    position: relative;
    display: block;
    padding: 6.4em 0 6.4em 0;
}

.style-bg-top:before {
    content: '';
    position: absolute;
    left: -10000px;
    right: -10000px;
    top: 0;
    bottom: 0;
    background: #ddd;
    display: block;
    z-index: 0;
}

.style-bg-top > * {
    position: relative;
}

.style-bg.padding {
    padding: 6.4em 0 5.2em 0;
}

.style-bg.padding .extra_descr {
    margin-bottom: 50px;
}

.style-bg.padding .wp-block-button {
    margin: 1.6em 0 1.8em 0;
}

.wp-block-table {
    width: 100%;
}
.product-layout-vertical .product-detail-before{
    z-index:0;
}
@media (max-width:640px){
    .block.nano-intro {
        margin-top: 30px;
    }
    .nano-intro .title-text {
        margin-top: 0;
        font-size: 30px;
        line-height: 50px;
        color: #222222;
    }
}