.wc-block-single-product__selection {
	width: 100%;
}
.wc-block-single-product__reset-layout {
	padding: 0;

	svg {
		margin-right: 4px;
	}
}
.wc-block-single-product__edit-card {
	padding: 16px;
	border-top: 1px solid #e2e4e7;

	.wc-block-single-product__edit-card-title {
		margin: 0 0 $gap;
	}
}
